
/*Phần dùng chung các trang tin tức*/
.decorate-picture{
  display:flex;
  margin-top: 12px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  width:1320px; 
  height:380px; 
  align-self: stretch; 
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page-caption{
    text-align: center;
    color: var(--Neutral-950, #0A0A0A);
    font-style: normal;
    line-height: normal;
}
 
.page-caption h1{
    font-size: 36px;
    font-weight: 700;
    font-family: "Gelasio", Noto Sans Arabic, Time New Roman;;
}

.page-caption p{
    font-size: 24px;
    font-weight: 400;
    font-family: Inter, Noto Sans Arabic, Time New Roman;;
}

.page-caption img{
  scale: 1.2;
}

.Read-more-list-caption{
    color: var(--Neutral-950, #0A0A0A);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0px;
}

.Read-more-list-flex{
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1320px;
    flex-direction: column;
    align-items: left;
    align-self: stretch;
    border-radius: 24px;
    background: linear-gradient(90deg, rgba(8, 145, 178, 0.00) 0%, var(--Cyan-600, #0891B2) 100%), var(--Cyan-950, #083344);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.Read-more-list-flex-item{
    color: var(--Neutral-50, #FAFAFA);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 24px 52px;
}

.Read-more-list-flex a:hover{
    text-decoration: underline;
    text-decoration-color: var(--Neutral-50, #FAFAFA);
}

.news-nav{
  margin-top:52px;
  margin-bottom:52px;
}

 .news-nav h2{
    color: var(--Neutral-950, #0A0A0A);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }

 .news-nav-flex{
    display: flex;
    width: 1288px;
    height: 40px;
    padding: 24px 32px;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Neutral-50, #FAFAFA);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-left:auto;
    margin-right:auto;
 }

 .news-nav-item{
    width: 180px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--Cyan-950, #083344);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: var(--Neutral-50, #FAFAFA);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    flex-wrap: wrap;
 }

 .news-nav-item.active{
    background-color: var(--Cyan-950, #083344);
    color: var(--Neutral-50, #FAFAFA) !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
 }

 .news-nav-item:hover:not(.active){
    background-color: var(--Cyan-950, #083344);
    color: var(--Neutral-50, #FAFAFA) !important;
 }

 /*Trang tin tốt nghiệp + Khoa học công nghệ*/
.flex-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 104px;
    align-self: stretch;
    width:1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.flex-item img{
    width: 600px; 
    height: 360px; 
    align-self: stretch; 
    border-radius: 32px;
    transition: transform 1s ease-in-out ;
}

.flex-item img:hover{
    scale: 1.05;
}
.news-box{
    display: flex;
    width:600px;
    height: 320px;
    padding: 20px;
    gap:2px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Inter;
    align-self: stretch;
}

.news-box h2{
    color: var(--Cyan-600, #0891B2);
    height:fit-content;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0;
}

.news-box h3{
    color: var(--Neutral-950, #0A0A0A);
    height:fit-content;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin:0;
}

.news-box p{
    color: var(--Neutral-950, #0A0A0A);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin:0;
}

.news-box a{
    width:600px;
    text-align: right;
    color: var(--Cyan-600, #0891B2);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

 /* Trang học vụ*/
 /*Loại trang thông tin thứ nhất*/
.news-list-type-1{
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1320px;
}

.list-caption-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.list-caption-nav h2{
  color: var(--Cyan-500, #06B6D4);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list-caption-nav nav{
  color: var(--Cyan-500, #06B6D4);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-underline-position: from-font;
}

.news-list{
  display: flex;
  align-items:center;
  gap: 80px;
  align-self: stretch;
}

.overlay-caption{
  position:relative;
  display:inline-block;
}

.overlay-caption img{
  width: 480px;
  height: 400px;
  border-radius: 12px;
  padding: 20px 0px;
}

.overlay-caption a{
  color: var(--Neutral-50, #FAFAFA);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 480px;
  height:56px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 20px 0px 10px 0px;
  border-radius: 0 0 4px 4px;
  bottom: 0%;
  transform: translate(-100%,0%);
  background: linear-gradient(90deg, rgba(8, 145, 178, 0.00) 0%, var(--Cyan-600, #0891B2) 100%), var(--Cyan-950, #083344);
}

.overlay-caption a:hover{
  text-decoration: underline;
}

.side-picture-caption{
  display: flex;
  flex-direction: column;
  width: 764px;
  align-items: flex-start;
  gap: 0px;

}

.flex-caption{
  display: flex;
  width: 780px;
  height: 124px;
  padding: 12px 0;
  align-items: center;
  gap: 32px;
  border-bottom:2px solid #D9D9D9;
}

.flex-caption a{
  color: var(--Neutral-950, #0A0A0A);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  width: 584px;
}

.flex-caption a:hover{
  text-decoration: underline;
}

.flex-caption img{
  width: 160px;
  height: 100px;
  border-radius: 8px;
}

/*Loại style thông tin thứ 2*/
.news-list-type-2{
  margin-top:60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1320px;
}
.news-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: auto;
  width: 1320px;
}

.flex-box{
  display: flex;
  width: 292px;
  padding: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.flex-box img{
  width: 292px;
  height: 240px;
  border-radius: 12px;
}

.flex-box a{
  color: var(--Neutral-950, #0A0A0A);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 292px;
  text-decoration: none;
}

.flex-box a:hover{
  color:#0891B2;
}

/*Trang Tin Khoa học công nghệ*/
/*.tuyendung-list{
  width:1320px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
*/
.container{
  width:fit-content;
  display:grid;
  grid-template-columns: 960px 300px;
  grid-template-rows: auto;
  gap:80px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.tuyendung-list{
  grid-column: 1;
}

.side-list{
  grid-column: 2;
  justify-self: right;
}

.tuyendung-list h2{
  color: var(--Cyan-500, #06B6D4);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin:none;
}

.tuyendung-list-items{
  display: flex;
  width: 960px;
  height: 200px;
  padding: 12px 0;
  align-items: center;
  gap: 32px;
  border-bottom:2px solid #D9D9D9;
}

.tuyendung-list-items img{
  width:228px;
  height:124px;
}

.tuyendung-group{
  display:flex;
  flex-direction: column;
  width: 700px;
}

.tuyendung-group a{
  padding: 20px;
  font-size: 20px;
  font-family: Inter;
  align-self: stretch;
  font-weight:bolder;
  line-height: normal;
  margin:0px;
  text-decoration: none;
}

.tuyendung-group p{
  padding: 20px;
  font-size: 16px;
  font-family: Inter;
  align-self: stretch;
  line-height: normal;
  margin:0px;
}

.side-list{
  display:flex;
  height:fit-content;
  flex-direction: column;
  font-family: Inter;
  align-self: stretch;
  gap: 24px;
}

.side-list h3{
  color: var(--Cyan-500, #06B6D4);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.side-list-items{
  display:flex;
  gap: 8px;
  align-items: center;
}

.side-list-items a{
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  margin:none;
}

.side-list-items img{
  width: 96px;
  height:64px;
}